@using Microsoft.AspNet.Identity
@using KB.Models
@using KB.BLL
@{ 
    bool IsLogin = Session["UID"]!= null;
    
}
@if (IsLogin)
{
    string identity = Session["IDEN"].ToString().Trim();
    string UID = Session["UID"].ToString();
    string UserPwd = Session["PWD"].ToString();
    using (Html.BeginForm("Logout", "Login", new { area = "" }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {

    <ul class="nav navbar-nav">
        <li>
            @if (identity=="2")
            {
                string name =Session["Cname"].ToString();
                @Html.ActionLink("你好，" + name + "!", "EditMe", "Home", new { area = "Customer" }, new { })

            }
            else if (identity == "3")
            {
                string name = new RootService().Find(UID).RoName;
                tb_Root root = new RootService().Find(UID, UserPwd);
                @Html.ActionLink("你好，" + name + "!!", "Message", "Home", new { area = "Manage", root.RoID }, new { })
            }
            else
            {
                string name = Session["UID"].ToString();
                @Html.ActionLink(name + "-", "Message", "Home", new { })
            }
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">注销</a>  </li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("登录", "Index", "Login", new { area = "" }, new { })</li>
         
    </ul>
}
