@using Microsoft.AspNet.Identity
@using KB.Models
@using KB.BLL
@{ 
    bool IsLogin = Session["UID"]!= null;
    
}
@if (IsLogin)
{
    string UID = Session["UID"].ToString();
    string UserPwd = Session["PWD"].ToString();
    bool isro = false;
    bool isma = false;
    bool isus = false;
    isus = new UserService().Exist(UID,UserPwd);
    isma = new AdminService().Exist(UID,UserPwd);
    isro = new RootService().Exist(UID,UserPwd);
    using (Html.BeginForm("Logout", "Login", new { area = "" }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {

    <ul class="nav navbar-nav">
        <li>
            @if (isma)
            {
                string name =Session["Cname"].ToString();
                @Html.ActionLink("你好，" + name + "!", "EditMe", "Home", new { area = "Customer" }, new { })

            }
            else if (isro)
            {
                string name = new KB.BLL.RootService().Find(UID).RoName;
                tb_Root root = new RootService().Find(UID, UserPwd);
                @Html.ActionLink("你好，" + name + "!!", "Message", "Home", new { area = "Manage", root.RoID }, new { })
            }
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">注销</a>  </li>     
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("登录", "Index", "Login", new { area = "" }, new { })</li>
         
    </ul>
}
