
@{
    ViewBag.Title = "首页";
}

<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="jumbotron">
                <h1>
                    欢迎登陆后台管理!
                </h1>
                <p>
                    此平台主要面向客户管理员，可进行客户名下会员、游戏的管理、盈利分析、日志管理等。
                </p>
                <p>
                    <a id="modal-489479" href="#modal-container-489479" role="button" class="btn btn-primary btn-large" data-toggle="modal">了解更多</a>
                </p>
                <div class="modal fade" id="modal-container-489479" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h4 class="modal-title" id="myModalLabel">
                                    系统操作指南
                                </h4>
                            </div>
                            <div class="modal-body">
                                {操作指南内容}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


